*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins' , sans-serif;
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url('images/Purple\ Gradient\ Gadgets\ Store\ Presentation.jpg');
    background-position: center;
    background-size: cover;
    object-fit: cover;
    position: fixed;
    color: white;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: rgb(46, 3, 87);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(207, 206, 206);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    background-color: blueviolet;
    cursor: pointer;
}

ul li {
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-position: center;
    background-size: cover;
    left: 8px;
    top: 12px;

}

ul li.checked{
    text-decoration: line-through;
    color: #555;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 8px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    transition: all .4s ease;
    border-radius: 50%;
}

ul li span:hover{
    background-color: aliceblue;
}